<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AWS</key>
	<dict>
		<key>CredentialsProvider</key>
		<dict>
			<key>CognitoIdentity</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>PoolId</key>
					<string>us-east-1:84d7dc6a-53b9-48cd-be27-7544f1bf3558</string>
					<key>Region</key>
					<string>USEast1</string>
				</dict>
			</dict>
		</dict>
		<key>DynamoDB</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>Region</key>
				<string>USEast1</string>
			</dict>
		</dict>
		<key>DynamoDBObjectMapper</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>Region</key>
				<string>USEast1</string>
			</dict>
		</dict>
		<key>S3</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>Region</key>
				<string>USEast1</string>
			</dict>
		</dict>
		<key>S3TransferManager</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>Region</key>
				<string>USEast1</string>
			</dict>
		</dict>
		<key>S3TransferUtility</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>Region</key>
				<string>USEast1</string>
			</dict>
		</dict>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>This app will use camera to let you take your picture for profile picture and/or uploading posts.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The app will use the location data to tag your posts as you upload them.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We are going to use the microphone for recording any audio that you would have to input</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Please allow access to save photo in your photo library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Upload your picture for profile picture and/or uploading posts.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
